In [236]:
#Setup
import pandas as pd
from pathlib import Path

In [237]:
#Add file
school_data_source = Path("Resources/schools_complete.csv")
students_data_source = Path("Resources/students_complete.csv")

#Create dataframes
school_data = pd.read_csv(school_data_source)
students_data = pd.read_csv(students_data_source)

#Combine data into single dataset
school_data_complete_df = pd.merge(students_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

In [238]:
#Calculate the total number of unique schools
school_count = len(school_data["school_name"])

school_count

15

In [239]:
#Calculate the total number of students
student_count = len(students_data["student_name"])

student_count

39170

In [240]:
#Calculate total budget
budget_total = sum(school_data["budget"])

budget_total

24649428

In [241]:
#Calculate the average math score
math_score_average = (school_data_complete_df["math_score"].mean())

math_score_average

78.98537145774827

In [242]:
#Calculate the average reading score
reading_score_average = (school_data_complete_df["reading_score"].mean()) 

reading_score_average

81.87784018381414

In [243]:
#Calculate the percentage of students who passed math (scores greater than or equal to 70)
students_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
percentage_passing_math = students_passing_math / float(student_count) * 100

percentage_passing_math

74.9808526933878

In [244]:
#Calculate the percentage of students who passed readding (scores)
students_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]
percentage_passing_reading = students_passing_reading / float(student_count) * 100

percentage_passing_reading

85.80546336482001

In [245]:
#Percent of students who passed both math and reading
passing_math_reading_count = school_data_complete_df[
    (school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)
].count()["student_name"]
overall_passing_percent = passing_math_reading_count / float(student_count) * 100

overall_passing_percent

65.17232575950983

In [246]:
#Create DataFrame of the school district's metrics
district_summary = [{"Total Schools": school_count}, {"Total Students": student_count}, {"Total Budget": budget_total},
                                {"Average Math Score": math_score_average}, {"Average Reading Score": reading_score_average}, {"% Passing Math": math_score_average}, 
                                {"% Passing Reading": reading_score_average}, {"% Overall Passing": overall_passing_percent}]

#Put column headers and data values into a DataFrame structure
district_summary_df = pd.DataFrame(district_summary)

#Formatting
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

#Display DataFrame
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15.0,nan,$nan,NaN,NaN,NaN,NaN,NaN
1,NaN,"39,170.0",$nan,NaN,NaN,NaN,NaN,NaN
2,NaN,nan,"$24,649,428.00",NaN,NaN,NaN,NaN,NaN
3,NaN,nan,$nan,78.985371,NaN,NaN,NaN,NaN
4,NaN,nan,$nan,NaN,81.87784,NaN,NaN,NaN
5,NaN,nan,$nan,NaN,NaN,78.985371,NaN,NaN
6,NaN,nan,$nan,NaN,NaN,NaN,81.87784,NaN
7,NaN,nan,$nan,NaN,NaN,NaN,NaN,65.172326

In [251]:
# School Summary
school_summary = school_data_complete_df.groupby(["type", "school_name"])

In [255]:
#Calculate the students per school
per_school_counts = school_summary["student_name"].count()

In [257]:
#Calculate the budget per school
per_school_budget = school_summary["budget"].mean()

In [258]:
#Calculate the total per capita spending per school
per_school_capita = (per_school_budget/per_school_counts)

In [259]:
#Calculate the average math score per school
per_school_math = school_summary["math_score"].mean()

In [260]:
#Calculate the average reading score per school
per_school_reading = school_summary["reading_score"].mean()

In [266]:
#Calculate the number of students per school with math score of 70 or higher
school_students_passing_math = school_data_complete_df.query("math_score >=70")["student_name"].count()/per_school_counts

In [267]:
#Calculate the number of students per school with reading score of 70 or higher
school_students_passing_reading = school_data_complete_df.query("reading_score >=70")["student_name"].count()/per_school_counts

In [ ]:
#Calculate the number of students who passed both math and reading per school
school_students_passing_math_and_reading =