In [565]:
#Setup
import pandas as pd
from pathlib import Path

In [566]:
#Add file
school_data_source = Path("Resources/schools_complete.csv")
students_data_source = Path("Resources/students_complete.csv")

#Create dataframes
school_data = pd.read_csv(school_data_source)
students_data = pd.read_csv(students_data_source)

#Combine data into single dataset
school_data_complete_df = pd.merge(students_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

In [567]:
#Calculate the total number of unique schools
school_count = len(school_data["school_name"])

school_count

15

In [568]:
#Calculate the total number of students
student_count = len(students_data["student_name"])

student_count

39170

In [569]:
#Calculate total budget
budget_total = sum(school_data["budget"])

budget_total

24649428

In [570]:
#Calculate the average math score
math_score_average = (school_data_complete_df["math_score"].mean())

math_score_average

78.98537145774827

In [571]:
#Calculate the average reading score
reading_score_average = (school_data_complete_df["reading_score"].mean()) 

reading_score_average

81.87784018381414

In [572]:
#Calculate the percentage of students who passed math (scores greater than or equal to 70)
students_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
percentage_passing_math = students_passing_math / (student_count) * 100

percentage_passing_math

74.9808526933878

In [573]:
#Calculate the percentage of students who passed readding (scores)
students_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]
percentage_passing_reading = students_passing_reading / float(student_count) * 100

percentage_passing_reading

85.80546336482001

In [574]:
#Percent of students who passed both math and reading
passing_math_reading_count = school_data_complete_df[
    (school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)
].count()["student_name"]
overall_passing_percent = passing_math_reading_count / float(student_count) * 100

overall_passing_percent

65.17232575950983

In [604]:
#Create DataFrame of the school district's metrics
district_summary = [{"Total Schools": school_count}, {"Total Students": student_count}, {"Total Budget": budget_total},
                                {"Average Math Score": math_score_average}, {"Average Reading Score": reading_score_average}, {"% Passing Math": math_score_average}, 
                                {"% Passing Reading": reading_score_average}, {"% Overall Passing": overall_passing_percent}]

#Put column headers and data values into a DataFrame structure
district_summary_df = pd.DataFrame(district_summary)

#Formatting
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

#Display DataFrame
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15.0,nan,$nan,NaN,NaN,NaN,NaN,NaN
1,NaN,"39,170.0",$nan,NaN,NaN,NaN,NaN,NaN
2,NaN,nan,"$24,649,428.00",NaN,NaN,NaN,NaN,NaN
3,NaN,nan,$nan,78.985371,NaN,NaN,NaN,NaN
4,NaN,nan,$nan,NaN,81.87784,NaN,NaN,NaN
5,NaN,nan,$nan,NaN,NaN,78.985371,NaN,NaN
6,NaN,nan,$nan,NaN,NaN,NaN,81.87784,NaN
7,NaN,nan,$nan,NaN,NaN,NaN,NaN,65.172326

# School Summary

In [576]:
# School Summary
school_summary = school_data_complete_df.groupby(["school_name"])

In [577]:
#Schools by type
school_type = school_data.sort_values(by="school_name").type

In [578]:
#School Names
school_name = school_data_complete_df.school_name.sort_values().unique()

In [579]:
#Calculate the students per school
per_school_counts = school_summary["student_name"].count()

In [580]:
#Calculate the budget per school
per_school_budget = school_summary["budget"].mean()

In [581]:
#Calculate the total per capita spending per school
per_school_capita = (per_school_budget/per_school_counts)

In [582]:
#Calculate the average math score per school
per_school_math = school_summary["math_score"].mean()

In [583]:
#Calculate the average reading score per school
per_school_reading = school_summary["reading_score"].mean()

In [584]:
#Calculate the number of students per school with math score of 70 or higher
school_students_passing_math = school_data_complete_df.query("math_score >=70")["student_name"].count()/per_school_counts

In [585]:
#Calculate the number of students per school with reading score of 70 or higher
school_students_passing_reading = school_data_complete_df.query("reading_score >=70")["student_name"].count()/per_school_counts

In [586]:
#Calculate the number of students who passed both math and reading per school
school_students_passing_math_and_reading = ((school_students_passing_math + school_students_passing_reading)/2)

In [587]:
#Create DataFrame called "per_school_summary with columns from calculations above"
per_school_summary_df = pd.DataFrame({#"School Name": school_name,
                                      "School Type": school_type,
                                      "Total Students": per_school_counts,
                                      "Total School Budget": per_school_budget,
                                      "Per Student Budget": per_school_capita,
                                      "Average Math Score": per_school_math,
                                      "Average Reading Score": per_school_reading,
                                      "% Passing Math": school_students_passing_math,
                                      "% Passing Reading": school_students_passing_reading,
                                      "% Overall Passing": school_students_passing_math_and_reading})

#Formatting
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

#Display DataFrame
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,District,NaN,$nan,$nan,NaN,NaN,NaN,NaN,NaN
1,District,NaN,$nan,$nan,NaN,NaN,NaN,NaN,NaN
2,Charter,NaN,$nan,$nan,NaN,NaN,NaN,NaN,NaN
3,District,NaN,$nan,$nan,NaN,NaN,NaN,NaN,NaN
4,Charter,NaN,$nan,$nan,NaN,NaN,NaN,NaN,NaN
5,Charter,NaN,$nan,$nan,NaN,NaN,NaN,NaN,NaN
6,Charter,NaN,$nan,$nan,NaN,NaN,NaN,NaN,NaN
7,District,NaN,$nan,$nan,NaN,NaN,NaN,NaN,NaN
8,Charter,NaN,$nan,$nan,NaN,NaN,NaN,NaN,NaN
9,Charter,NaN,$nan,$nan,NaN,NaN,NaN,NaN,NaN
10,Charter,NaN,$nan,$nan,NaN,NaN,NaN,NaN,NaN
11,District,NaN,$nan,$nan,NaN,NaN,NaN,NaN,NaN
12,District,NaN,$nan,$nan,NaN,NaN,NaN,NaN,NaN
13,District,NaN,$nan,$nan,NaN,NaN,NaN,NaN,NaN
14,Charter,NaN,$nan,$nan,NaN,NaN,NaN,NaN,NaN
Bailey High School,NaN,4976.0,"$3,124,928.00",$628.00,77.048432,81.033963,5.902331,6.754421,6.328376
Cabrera High School,NaN,1858.0,"$1,081,356.00",$582.00,83.061895,83.975780,15.807320,18.089343,16.948332
Figueroa High School,NaN,2949.0,"$1,884,411.00",$639.00,76.711767,81.158020,9.959308,11.397084,10.678196
Ford High School,NaN,2739.0,"$1,763,916.00",$644.00,77.102592,80.746258,10.722892,12.270902,11.496897
Griffin High School,NaN,1468.0,"$917,500.00",$625.00,83.351499,83.816757,20.006812,22.895095,21.450954
Hernandez High School,NaN,4635.0,"$3,022,020.00",$652.00,77.289752,80.934412,6.336570,7.251348,6.793959
Holden High School,NaN,427.0,"$248,087.00",$581.00,83.803279,83.814988,68.782201,78.711944,73.747073
Huang High School,NaN,2917.0,"$1,910,635.00",$655.00,76.629414,81.182722,10.068564,11.522112,10.795338
Johnson High School,NaN,4761.0,"$3,094,650.00",$650.00,77.072464,80.966394,6.168872,7.059441,6.614157
Pena High School,NaN,962.0,"$585,858.00",$609.00,83.839917,84.044699,30.530146,34.937630,32.733888
Rodriguez High School,NaN,3999.0,"$2,547,363.00",$637.00,76.842711,80.744686,7.344336,8.404601,7.874469
Shelton High School,NaN,1761.0,"$1,056,600.00",$600.00,83.359455,83.725724,16.678024,19.085747,17.881885
Thomas High School,NaN,1635.0,"$1,043,130.00",$638.00,83.418349,83.848930,17.963303,20.556575,19.259939
Wilson High School,NaN,2283.0,"$1,319,574.00",$578.00,83.274201,83.989488,12.864652,14.721857,13.793254
Wright High School,NaN,1800.0,"$1,049,400.00",$583.00,83.682222,83.955000,16.316667,18.672222,17.494444

# Highest-Performing Schools (by % Overall Passing)

In [588]:
#Sort schools by "% Overall Passing" in descending order and display top 5 rows
top_schools = per_school_summary_df.sort_values(by="% Overall Passing", ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Holden High School,NaN,427.0,"$248,087.00",$581.00,83.803279,83.814988,68.782201,78.711944,73.747073
Pena High School,NaN,962.0,"$585,858.00",$609.00,83.839917,84.044699,30.530146,34.937630,32.733888
Griffin High School,NaN,1468.0,"$917,500.00",$625.00,83.351499,83.816757,20.006812,22.895095,21.450954
Thomas High School,NaN,1635.0,"$1,043,130.00",$638.00,83.418349,83.848930,17.963303,20.556575,19.259939
Shelton High School,NaN,1761.0,"$1,056,600.00",$600.00,83.359455,83.725724,16.678024,19.085747,17.881885

# Bottom Performing Schools (By % Overall Passing)

In [589]:
#Sort schools by "% Overall Passing" in ascending order and display the bottom 5 rows
bottom_schools = per_school_summary_df.sort_values(by="% Overall Passing", ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,NaN,4976.0,"$3,124,928.00",$628.00,77.048432,81.033963,5.902331,6.754421,6.328376
Johnson High School,NaN,4761.0,"$3,094,650.00",$650.00,77.072464,80.966394,6.168872,7.059441,6.614157
Hernandez High School,NaN,4635.0,"$3,022,020.00",$652.00,77.289752,80.934412,6.336570,7.251348,6.793959
Rodriguez High School,NaN,3999.0,"$2,547,363.00",$637.00,76.842711,80.744686,7.344336,8.404601,7.874469
Figueroa High School,NaN,2949.0,"$1,884,411.00",$639.00,76.711767,81.158020,9.959308,11.397084,10.678196

# Math Scores by Grade

In [590]:
#Separate the data by grade
ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]
tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]
eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]
twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

#Group by "school_name" and take the mean of the "math_score" column for each
ninth_grade_math_scores = students_data.loc[students_data["grade"] == "9th"].groupby("school_name")["math_score"].mean()
tenth_grader_math_scores = students_data.loc[students_data["grade"] == "10th"].groupby("school_name")["math_score"].mean()
eleventh_grader_math_scores = students_data.loc[students_data["grade"] == "11th"].groupby("school_name")["math_score"].mean()
twelfth_grader_math_scores = students_data.loc[students_data["grade"] == "12th"].groupby("school_name")["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({"9th": ninth_grade_math_scores,
                                     "10th": tenth_grader_math_scores,
                                     "11th": eleventh_grader_math_scores,
                                     "12th": twelfth_grader_math_scores})

# Minor data wrangling
math_scores_by_grade.index.name = "School"

# Display the DataFrame
math_scores_by_grade

                             9th       10th       11th       12th
School
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [591]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]
tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]
eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]
twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = students_data.loc[students_data["grade"] == "9th"].groupby("school_name")["reading_score"].mean()
tenth_grader_reading_scores = students_data.loc[students_data["grade"] == "9th"].groupby("school_name")["reading_score"].mean()
eleventh_grader_reading_scores = students_data.loc[students_data["grade"] == "9th"].groupby("school_name")["reading_score"].mean()
twelfth_grader_reading_scores = students_data.loc[students_data["grade"] == "9th"].groupby("school_name")["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({"9th": ninth_grade_reading_scores,
                                        "10th": tenth_grader_reading_scores,
                                        "11th": eleventh_grader_reading_scores,
                                        "12th": twelfth_grader_reading_scores})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  81.303155  81.303155  81.303155
Cabrera High School    83.676136  83.676136  83.676136  83.676136
Figueroa High School   81.198598  81.198598  81.198598  81.198598
Ford High School       80.632653  80.632653  80.632653  80.632653
Griffin High School    83.369193  83.369193  83.369193  83.369193
Hernandez High School  80.866860  80.866860  80.866860  80.866860
Holden High School     83.677165  83.677165  83.677165  83.677165
Huang High School      81.290284  81.290284  81.290284  81.290284
Johnson High School    81.260714  81.260714  81.260714  81.260714
Pena High School       83.807273  83.807273  83.807273  83.807273
Rodriguez High School  80.993127  80.993127  80.993127  80.993127
Shelton High School    84.122642  84.122642  84.122642  84.122642
Thomas High School     83.728850  83.728850  83.728850  83.728850
Wilson High School     83.939778  83.939778  83.939778  83.939778
Wright High School     83.833333  83.833333  83.833333  83.833333

# Scores by School Spending

In [592]:
#Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [593]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary_df.copy()

In [594]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"],
                                                             spending_bins, labels=labels)

school_spending_df

TypeError: '<' not supported between instances of 'int' and 'str'