In [5]:
#Setup
import pandas as pd
from pathlib import Path

In [6]:
#Add file
school_data_source = Path("Resources/schools_complete.csv")
students_data_source = Path("Resources/students_complete.csv")

#Create dataframes
school_data = pd.read_csv(school_data_source)
students_data = pd.read_csv(students_data_source)

#Combine data into single dataset
school_data_complete = pd.merge(students_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

In [12]:
#Calculate the total number of unique schools
school_count = len(school_data["school_name"])

school_count

15

In [14]:
#Calculate the total number of students
student_count = len(students_data["student_name"])

student_count

39170

In [18]:
#Calculate total budget
budget_total = sum(school_data["budget"])

budget_total

24649428

In [19]:
#Calculate the average math score
math_score_average = (school_data_complete["math_score"].mean())

math_score_average

78.98537145774827

In [21]:
#Calculate the average reading score
reading_score_average = (school_data_complete["reading_score"].mean()) 

reading_score_average

81.87784018381414

In [22]:
#Calculate the percentage of students who passed math (scores greater than or equal to 70)
students_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
percentage_passing_math = students_passing_math / float(student_count) * 100

percentage_passing_math

74.9808526933878

In [ ]:
#Calculate the percentage of students who passed readding (scores)